<% @page = "context" %>


<h2>context</h2>

<div class="page_copy">

	<p>
	<i>Developed by design educator and researcher, Lucy Brown, between 2012 and
	2015, the Creative Landscapes workshop series considers the role and impact of
	physical exploration within the context of developmental design processes.</i>
	</p>

	<p>
	Design is a cyclical, iterative process that includes the exploration of a starting point,
	the definition of a brief, the development of ideas and the delivery of appropriate
	solutions. Design problems are increasingly complex (Julier 2000) and students
	require advanced meta-cognitive processes (Hargrove & Rice 2015) in order to
	understand, navigate and map design process (Cassim 2013).
	</p> 

	<p>
	Over the past 7 years, I have taught many undergraduate graphic design students
	who struggle to fully engage in developmental design processes. These so called 
	‘digital natives’ (Palfrey 2010) rely upon the connected, digital space for virtually all
	of the information they need. They ask direct questions and hurry along the surface
	of immediate answers (Carr 2008).
	</p> 

	<p>
	Within the context of design process, this limited, convergent approach (Hargrove 
	& Rice 2015) results in poor design solutions. 
	</p>

	<p>
	In order to be able to navigate, understand and map the nature of design process,
	the process of way finding, or visual processing, is key as it enables an
	environmental mental image (Lynch 1960). Physical exploration tries out,
	transgresses, and respects experience (Certeau 2011).
	</p>

	<p>
	The Creative Landscapes workshop series proposes that an active exploration of
	physical environments may provide an appropriate metaphor through which to
	enable an understanding of design process.
	</p>

	<p class="lucy">Lucy Brown, 2016</p>

	<div class="citations">
		<p>
		Carr, N. (2008) Is Google making us stupid? [Internet] <i>The Atlantic Monthly</i>.
		Available at: http://bit.ly/1mLDnOQ [Accessed 3 January 2016]
		</p> 

		<p>
		Cassim, F. (2013) <i>Hands On, Hearts On, Minds On</i>, iJADE, Vol. 32, Issue 2, p.193 
		</p>

		<p>
		Certeau, M. (2011) <i>The Practice of Everyday Life</i> Oakland: University of California
		Press 
		</p>

		<p>
		Hargrove, R. & Rice, A. (2015) <i>The Challenge of Beginnings</i>, iJADE, Vol. 34, Issue
		2, p.161 
		</p>

		<p>
		Julier, G. (2000) <i>The Culture of Design</i> London: Sage 
		</p>

		<p>
		Kolb, D. (1984) <i>Experiential Learning</i> New Jersey: Pearson Education
		</p>

		<p>
		Lynch, K. (1960) <i>The Image of the City</i> Cambridge, USA: MIT Press 
		</p>

		<p>
		Palfrey, J. (2010) <i>Born Digital</i> New York: Basic
		</p>

	</div>

	


	<h4 class="sub">About Lucy Brown</h4>

	<p>
	Lucy Brown is a graphic designer, educator and researcher, with a ceaseless love
	for typography and walking. Lucy previously worked as a graphic designer for The
	Guardian newspaper and the Institute of Contemporary Arts  and as an art director for M&C Saatchi in Sydney. In addition, she spent several months working with Oded Ezer in Israel.
	</p>

	<p>
	Lucy has an MA in Graphic Design, awarded with distinction, and a first class BA 
	Hons) degree in Graphic Design: Typography from the London College of
	Communication. She is currently a Senior Lecturer on the BA (Hons) Graphic Design
	and BA (Hons) Illustration courses at Staffordshire University, a fellow of the HEA
	(Higher Education Academy) and Co-Membership Officer of the Graphic Design
	Educators’ Network. In the past, Lucy has taught graphic design and typography at
	London College of Communication and University Centre Stockport, and contextual
	studies for both graphic design and fashion at Liverpool John Moores University.
	</p>

</div>