<% @page = "home" %>

		<div class="strap">
			<h2>
				A workshop series that considers the role and impact of physical exploration within the context of developmental design processes.
			</h2>
		</div>
