<% @page = "home" %>

		<div class="strap">
			<h2>
				A workshop series that considers the role and impact of physical exploration within the context of developmental design processes.
			</h2>

			<p>
				Work from the Creative Landscapes Workshop Series will be exhibited at the Brewery Arts Centre Kendal, 22 July - 2 September 2016
			</p>
		</div>
