<% @page = "publication" %>


<h2>publication</h2>

<div class="page_copy">

	<p>The Creative Landscapes workshop series has been published in the following ways:</p>
	
	<p>AIGA Design Educators <i>Spaces of Learning</i> conference in Toronto, 2015</p>

	<p>Graphic Design Educators’ Network <i>De-Brief</i> conference at University of Salford, 2015</p> 

	<p>HEA <i>The Centrality of the Body to Learning and Teaching</i> symposium at Nottingham Trent University, 2016.</p> 

	<p>Initial stages of the research that informed the workshop series have also been published in:</p>

	<p>Bestley, R. & Noble, I. (2016) <i>Visual Research: An Introduction to Research Methodologies in Graphic Design</i>, Third Edition, London: Bloomsbury</p>

	<p>In addition, Lucy was awarded a Teaching Excellence Fellowship from Staffordshire University, 2016, for demonstrating excellence in her teaching through the Creative Landscapes workshop series.
	</p>

</div>
